<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Salary Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="employee_id" placeholder="Employee ID" required="required" />
		<input type="text" name="no_of_trainings" placeholder="no_of_trainings" required="required" />
		<input type="text" name="age" placeholder="age" required="required" />
		<input type="text" name="previous_year_rating" placeholder="Previous year rating" required="required" />
		<input type="text" name="length_of_service" placeholder="Length of service" required="required" />
		<input type="text" name="awards_won?" placeholder="Awards Won" required="required"/>
		<input type="text" name="KPIs_met >80%" placeholder="KPIs met" required="required"/>
		<input type="text" name="avg_training_score" placeholder="Average Training score" required="required"/>
		
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
